body {
    font-family: sans-serif;
    background-color: #f7f7f7;
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  input[type="text"],
  input[type="button"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  input[type="button"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
  }
  
  input[type="button"]:hover {
    background-color: #45a049;
    transition: background-color 0.2s ease;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  th {
    background-color: #4caf50;
    color: #fff;
  }


  input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
  }
  
  input.pass {
    background-color: #f8f8f8;
  }
  
  input.Mes {
    background-color: #fff;
  }
  
  input.dia {
    background-color: #fff;
  }
  
  input.Cargarimagen {
    background-color: #fff;
  }
  
  input:focus {
    border-color: #aaa;
  }
  .FormulariosidBusqueda {
    position: absolute;
    right: 0px;
    top: 0px;
    transition: 1.2s;
    visibility: visible;
  };