#selectorDeVariables {
  background-color: #f2f2f2;
  border: none;
  color: #555;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.Contenedores_aparecidos {
  border: 1px solid gray;
  border-radius: 15px;
  transition: box-shadow 0.5s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#selectorDeVariables:hover {
  background-color: #ddd;
}

#selectorDeVariables option {
  background-color: #f2f2f2;
  color: #555;
  font-size: 16px;
}

.error {
  max-width: 400px;
  display: block;
}

#rembrar2 {
  display: none;
}

#ImagenPerfil {
  align-items: center;
  padding: 0px 10px;
}

.Separando {
  display: none;
  margin: 0 30px 0 0px;
}

body {
  font-family: sans-serif;
  background-color: #f7f7f7;
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px;
  transition: background-color 0.3s ease;
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#email {
  display: flex;
}

input[type="text"],
input[type="button"],
input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-size: 16px;
}

input[type="button"] {
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  border: none;
  transition: background-color 0.2s ease;
}

input[type="button"]:hover {
  background-color: #45a049;
}

table {
  width: 100%;
  border-collapse: collapse;
  max-width: 1024px;
  margin: 20px auto;
}

th,
td {
  text-align: left;
  padding: 12px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: #4caf50;
  color: #fff;
}

input:focus {
  outline: none;
  border-color: #4caf50;
}

.FormulariosidBusqueda {
  transition: visibility 0.5s ease;
  visibility: visible;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

summary {
  transition: height 1s ease-in-out;
  color: rgb(0, 0, 0);
  height: 30px;
  border: 1px solid rgba(0, 0, 255, 0.32);
  align-items: center;
}

details[open] summary {
  background-color: rgba(0, 159, 58, 0.2);
}

summary:hover {
  background-color: rgba(18, 21, 123, 0.459);
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}